<li><%= link_to "Services", pages_services_path  %></li>
<li><%= link_to "Venue", pages_venue_path  %> </li>
<li><%= link_to "Book", pages_book_path  %> </li>
<li><%= link_to "Contact us", pages_contact_us_path  %> </li>
